---
import Layout from "../layouts/Layout.astro";
import Asteroid from "../components/Asteroid";
---

<Layout title="Astro Fizix">
  <h1 class="text-5xl text-lime-300 text-center font-mono font-bold">
    Huston,do we have a problem?
  </h1>
  <h1 class="text-3xl text-lime-300 text-center font-mono mt-8">
    Asteroid Watch
  </h1>
  <Asteroid client:load />
  <p class="text-white mt-9 font-mono">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem consequatur
    suscipit, eligendi repellat soluta enim in earum, velit minus iure, numquam
    architecto recusandae aspernatur temporibus ab sequi ex sunt amet?
    Reprehenderit culpa delectus perferendis quibusdam fugit corporis suscipit
    ipsum perspiciatis voluptates voluptas doloribus aliquid tenetur nemo
    voluptate ducimus fuga, placeat, eum dolorum, sunt aliquam a hic est?
    Similique, blanditiis tempore! Similique accusantium, nihil eos adipisci,
    quisquam maxime voluptas, facilis numquam quas nisi labore perspiciatis
    aliquam deserunt. Maiores eligendi accusamus eaque quo quis obcaecati quasi
    consectetur! Fuga et soluta voluptatibus unde.x
  </p>
</Layout>
