---
import Layout from "../layouts/Layout.astro";
import Asteroid from "../components/Asteroid";
---

<Layout title="Astro Fizix">
  <h1 class="text-5xl text-lime-300 text-center font-mono font-bold">
    Huston,do we have a problem?
  </h1>
  <h1 class="text-3xl text-lime-300 text-center font-mono mt-8">
    Asteroid Watch
  </h1>
  <Asteroid client:load />
</Layout>
