---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro Fizix">
  <p class="text-5xl text-lime-300 text-center font-bold">About NEOS</p>

  <div class="text-white my-8">
    <p class="mb-6">
      JPL manages NASA's Center for Near-Earth Object Studies, which tracks
      comets and asteroids that drift close to Earth's orbital neighborhood. A
      Near-Earth Object (NEO) is generally defined as an asteroid or comet that
      approaches our planet less than 1.3 times the distance from Earth to the
      Sun (the Earth-Sun distance is about 93 million miles). Most NEOs pose no
      peril at all. It’s the small percentage of Potentially Hazardous Asteroids
      that draws extra scrutiny. These objects are defined as those that
      approach Earth at less than half the Earth-Sun distance.
    </p>
    <p class="mb-6">
      Scientists and Scientists and engineers are developing plans for warning
      systems and diversion tactics, just in case an asteroid should ever be
      found in an orbit that could endanger our planet.
    </p>
    <p>
      The following section provides an overview of the different types of NEOs
      that are tracked by the Center for Near Earth Object Studies:
    </p>
  </div>

  <div id="asteroids" class="text-white mb-8">
    <h1 class="text-lime-300 text-2xl text-bold mb-2">Asteroids</h1>
    <p class="mb-6">
      Asteroids are rocky fragments left over from the formation of the solar
      system about 4.6 billion years ago. Most asteroids orbit the sun in a belt
      between Mars and Jupiter. Scientists think there are probably millions of
      asteroids, ranging widely in size from hundreds of kilometers across to
      less than one kilometer (a little more than one-half mile) wide.
    </p>
    <p>
      Occasionally, asteroids' orbital paths are influenced by the gravitational
      tug of planets, which cause their paths to alter. Scientists believe stray
      asteroids or fragments from earlier collisions have slammed into Earth in
      the past, playing a major role in the evolution of our planet.
    </p>
  </div>

  <div id="commets" class="text-white mb-8">
    <h1 class="text-lime-300 text-2xl text-bold mb-2">Comets</h1>
    <p class="mb-6">
      Comets are relatively small, fragile, irregularly shaped bodies and, like
      asteroids, they are left over from the solar system formation process.
      Comets, however, are icy dirtballs that form in the outer solar system.
      The icy surface is embedded with dust, grit and particles from space.
    </p>
    <p class="mb-6">
      Many comets have elliptical orbits that cut across the orbits of the
      planets, taking them very close to the sun and then swinging them far
      away, often past Pluto. The most distant comets may take more than 30
      million years to complete one orbit. Comets with smaller orbital paths can
      take less than 200 years to orbit the sun, making them more predictable.
    </p>
    <p class="mb-6">
      When far from the sun, comets are very cold, icy dirtballs. As they
      approach the sun, their surfaces begin to warm and volatile materials
      vaporize. The vaporizing gases carry small dust grains with them, which
      form an atmosphere of gas and dust and can look like a bright tail when
      seen from Earth.
    </p>
    <p>
      Scientists believe that impacts from comets played a role in the evolution
      of Earth billions of years ago. One theory suggests that comets brought
      some of the water and a variety of organic molecules to the early Earth.
    </p>
  </div>

  <div id="near_earth_objects" class="text-white my-8">
    <h1 class="text-lime-300 text-2xl text-bold mb-2">Near-Earth Objects</h1>
    <p>
      Some asteroids and comets follow orbital paths that take them much closer
      to the sun -- and therefore Earth -- than usual. If a comet or asteroid's
      approach brings it to within 1.3 astronomical units of the sun, we call it
      a near-Earth object. [One astronomical unit is close to the mean distance
      between the sun and Earth – approximately 150 million kilometers (about 93
      million miles).] Near-Earth objects may provide needed raw materials for
      future interplanetary exploration. Some should also be fairly easy to land
      on for future exploration.
    </p>
  </div>

  <div id="potentially_hazardous_objects" class="text-white mb-8">
    <h1 class="text-lime-300 text-2xl text-bold mb-2">
      Potentially Hazardous Objects
    </h1>
    <p class="mb-6">
      A relatively small number of near-Earth objects pass close enough to Earth
      and are large enough in size to warrant close observation. That's because
      the gravitational tug of the planets could, over time, cause an object's
      orbital path to evolve into an Earth-crossing orbit. This allows for the
      possibility of a future collision.
    </p>
    <p class="mb-6">
      Potentially hazardous asteroids are about 150 meters (almost 500 feet) or
      larger, roughly twice as big as the Statue of Liberty is tall. They
      approach Earth's orbit to within 7.5 million kilometers (about 4.6 million
      miles). By comparison, when Mars and Earth are at their closest, they are
      about 53 million kilometers (about 33 million miles) apart. Potentially
      hazardous comets also get unusually close to Earth.
    </p>
    <p class="mb-6">
      Knowing the size, shape, mass, composition and structure of these objects
      helps determine the best way to divert one, should it have an
      Earth-threatening path.
    </p>
  </div>

  <div id="meteors_and_meteorites" class="text-white mb-8">
    <h1 class="text-lime-300 text-2xl text-bold mb-2">
      Meteors and Meteorites
    </h1>
    <p class="mb-6">
      While traveling through space, asteroids sometimes collide with each other
      and break up into smaller fragments. Comets shed dust as they roam the
      solar system. These 'break ups' result in numerous small particles and
      fragments, called meteoroids, which orbit the sun.
    </p>
    <p class="mb-6">
      Most meteoroids are small and rocky. When one approaches Earth, it burns
      up as it goes through Earth's atmosphere. Thus a meteor, or shooting star,
      is formed.
    </p>
    <p class="mb-6">
      Fireballs are larger meteoroids, roughly ranging in size anywhere from a
      basketball to a Volkswagen. They also make very impressive sky displays as
      they break into fragments and burn up in their passage through Earth's
      atmosphere.
    </p>
    <p class="mb-6">
      Some meteoroids survive passage through Earth's atmosphere and hit the
      ground. These are called meteorites.
    </p>
  </div>

  <div class="text-white mt-80">
    <span class="font-extrabold">*</span>
    <span>The content of this page is from an article titled</span>
    <span class="italic underline hover:text-blue-500"
      ><a
        href="https://www.jpl.nasa.gov/keeping-an-eye-on-space-rocks"
        target="_blank"
        rel="noreferrer noopener">Keeping an Eye on Space Rocks</a
      ></span
    >
    <span>from www.jpl.nasa.gov, which is within the public domain.</span>
  </div>
</Layout>
